body { 
	margin:0; padding:0; 
}
 


.main-container {
	display: flex;
	flex-wrap: wrap;
}


.news-feed-container {
	width: 300px;
	height: 100vh;
}

#map { 
 	position:absolute; 
 	top:0; 
 	bottom:0; 
 	width:80%; 
 }